<form role="form" method="post" action="" style="margin:50px auto">
	<div class="templatemo_form">
	{{if .Message}}
		<ul class="nav center-text redfont">
			<li>{{.Message}}</li>
		</ul>
	{{end}}
		<input required="" name="email" type="email" class="inputtext" value="{{.User.Email}}" />
        <label alt='请输入E-mail' placeholder='E-mail'></label>
		<input required="" name="password" type="password" class="inputtext" maxlength="40" value=""/>
        <label alt='请输入密码' placeholder='密码'></label>
		<div class="left-text">
			<input name="remember" type="checkbox" value="1" {{if .Remember}} checked=checked {{end}}>
			30天内免登录
		</div>
		<ul class="nav center-text">
			<li><button type="submit" class="btn">登录</button></li>
			<li><a href="/regist" class="btn">注册</a></li>
		</ul>
	</div>
</form>
<div>
</div>