<div class="templatemo-content-wrapper">
  <div class="templatemo-content">
    <div class="col-md-12 col-sm-12 margin-bottom-30">
      <div class="panel panel-primary">
        <div class="panel-heading">基本信息</div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
				<tr>
					<th class="col-md-3">单号</th>
					<th class="col-md-9">描述</th>
				</tr>
			</thead>
            <tbody>
			{{range $index,$pack := .this}}
              <tr>
                <td>{{$pack.Id.Hex}}</td>
                <td>
				{{$pack.Note}}
				<div>
					<div>{{$pack.Id}}</div>
					<div>{{$pack.Owner}}</div>
					<div>{{$pack.Tracking}}</div>
					<div>{{$pack.Size}}</div>
					<div>{{$pack.Image}}</div>
					<div>{{$pack.Note}}</div>
					<div>{{$pack.Status}}</div>
					<div>{{$pack.Item}}</div>
				</div>
				</td>
              </tr>
			{{ end }}
            </tbody>
          </table>
        </div>
      </div>
      <span class="btn btn-primary"><a href="javascript:;" data-toggle="modal" data-target="#edit_confirm">追加</a></span>
    </div> 
  </div>
</div>
<!-- Modal -->
    <div class="modal fade" id="edit_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">追加</h4>
          </div>
          <div class="modal-footer">
            <a href="javascript:;" class="btn btn-primary" data-dismiss="modal">确定</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>