<form role="form" method="post" action="" style="margin:50px auto">
	<div class="templatemo_form">
	{{if .Message}}
		<ul class="nav center-text redfont">
			<li>{{.Message}}</li>
		</ul>
	{{end}}
		<input required="" name="email" type="email" class="inputtext" value="{{.User.Email}}" />
        <label alt='请输入E-mail' placeholder='E-mail'></label>
		<input required="" name="password" type="password" class="inputtext" maxlength="40" value=""/>
        <label alt='请输入密码' placeholder='密码'></label>
		<input required="" name="repassword" type="password" class="inputtext" maxlength="40" value=""/>
        <label alt='请再次输入密码' placeholder='确认密码'></label>
		<ul class="nav center-text">
			<li><button type="submit" class="btn">登录</button></li>
			<li class="btn"><a href="/regist">注册</a></li>
		</ul>
	</div>
</form>
<div>
利用条款 <br />
*, <br />
*, <br />
*, <br />
*, <br />
*, <br />
</div>