<div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li class="active">
            <a href="/mypage">
              <i class="fa fa-home"></i>
              会员首页
            </a>
          </li>
          <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-cog"></i>个人信息<div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="#">常用地址</a></li>
              <li><a href="#">积分</a></li>
              <li><a href="#">实名认证</a></li>
            </ul>
          </li>
          <li class="sub open">
            <a href="javascript:;">
              <i class="fa fa-database"></i>我的仓库<div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="#">货物管理</a></li>
              <li><a href="#">订单管理</a></li>
            </ul>
          </li>
          
          
          
          <li><a href="data-visualization.html"><i class="fa fa-cubes"></i><span class="badge pull-right">9</span>商品管理</a></li>
          <li><a href="tables.html"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>会员管理</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        </ul>
      </div>
      
      
 <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">确定要退出么?</h4>
            </div>
            <div class="modal-footer">
              <a href="/logout" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
